/* Here I added Css for admin home page */
.admin-home-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .intro-section {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
  }

  .intro-section p {
    margin-bottom: 30px;
  }
  
  .admin-banner-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .add-product-section {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .add-product-section h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #444;
    text-transform: uppercase;
  }
  
  .product-form {
    display: flex;
    flex-direction: column;
  }
  
  .product-form label {
    margin-bottom: 15px;
    font-size: 1.1em;
    color: #333;
  }
  
  .product-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .product-form button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .product-form button:hover {
    background: #0056b3;
  }
  
  .product-list-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-list-section h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #444;
    text-transform: uppercase;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-item {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .product-item h3 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #333;
  }
  
  .product-item p {
    font-size: 1em;
    color: #555;
    margin-bottom: 30px;
  }
  